<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <!-- Configura el manejador FastCGI para .py -->
            <add name="DjangoFastCGI" path="*.py" verb="*" modules="FastCgiModule" 
                 scriptProcessor="C:\Users\Administrador\Documents\UPCV\venv\Scripts\python.exe|C:\Users\Administrador\Documents\UPCV\venv\Scripts\wfastcgi.py" 
                 resourceType="Unspecified" />
        </handlers>
 <staticContent>
            <add fileExtension=".css" mimeType="text/css" />
            <add fileExtension=".js" mimeType="application/javascript" />
            <add fileExtension=".jpg" mimeType="image/jpeg" />
            <add fileExtension=".png" mimeType="image/png" />
        </staticContent>
        <fastCgi>
            <application fullPath="C:\Users\Administrador\Documents\UPCV\venv\Scripts\python.exe" 
                         arguments="C:\Users\Administrador\Documents\UPCV\venv\Scripts\wfastcgi.py">
                <!-- Variables de entorno necesarias para Django -->
                <environmentVariables>
                    <add name="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application" />
                    <add name="PYTHONPATH" value="CC:\Users\Administrador\Documents\UPCV" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
